*{
    padding: 0.4vh;
}

body{
    background-color: rgb(181, 217, 241);
}
hr{
    width: 10vw;
    size: 1;
    border-top: 10px dotted red;
}

h1, h3{
    color: rgb(116, 2, 2);
    padding: 1rem;
    font-style: oblique;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

th{
    background-color: cornflowerblue;
    border: 1px solid black;
}
img{
    border-radius: 40%;
}
#intro{
    border: 3px solid black;
    background-color: rgb(160, 245, 203);
}